/* CSS Variables */
:root {
  --primary: white;
  --dark: #454545; 
  --light: #6700bb;
  --shadow: 0 1px 5px rgba(0, 255, 247, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background-color: black;
  margin: 30px 50px;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation bar */
.main-nav ul li .logo-img {
  width: 75px;
}

.main-nav ul {
  display: grid;
  grid-gap: 40px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(8, 1fr);
}

.main-nav a{
  background: var(---primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover{
  background: var(---dark);
  color: var(--light);
}

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    'showcase showcase top-box a';
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  max-width: 900px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: white;
}

.showcase p {
  font-size: 1.3rem;
  margin-bottom: 0;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

.top-box {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

/* Boxes */

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  text-align: center;
  margin: 50px;
  padding: 4rem 3rem;
  box-shadow: var(--shadow);
}

/* Footer */

footer {
  margin-top: 2rem;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }
}